{% extends('content.html.twig') %}

{% block pagetitle %}О нас - Лысогорская РБ{% endblock %}

{% block content %}
    <h1 class="fw-bold text-center mt-5 mb-3">
        ГУЗ СО &quot;Лысогорская районная больница&quot;
    </h1>
    <p>
        <b>Полное наименование организации: </b>Государственное учреждение здравоохранения Саратовской области
        &quot;Лысогорская районная больница&quot;
    </p>
    <p>
        <b>Адрес:</b> 412860, Саратовская обл., рп.Лысые Горы, ул. Советская, 36
    </p>
    <p>
        <b>Главный врач</b> - Ситенкова Людмила Викторовна
    </p>
    <p>
        <b>Зам.главного врача по мед.части</b> - Миронова Светлана Анатольевна
    </p>
    <p>
        <b>Зам.главного врача по ЭВН</b> - Тихонова Галина Владимировна
    </p>
    <p>
        <b>Учредитель: </b>Министерство Здравоохранения Сартовской области
    </p>
    <p>
        <b>Адрес учредителя:</b> г.Саратов, ул.Рабочая, д.144/155
    </p>
    <p>
        Дата государственной регистрации: 10 февраля 1994 года
    </p>
    <p>
        Медицинская деятельность осуществляется на основании лицензии № ЛО-64-01-004962 от 23.12.2020г., выдана
        Министерством здравоохранения Сартовской области
    </p>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Учредительные документы
    </h3>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                №
            </th>
            <th scope="col">
                Документ
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
               1 
            </th>
            <td>
                <a href="{{ asset('documents/litsenziya-dekabr-2020.pdf') }}">
                    Лицензия на осуществление медицинской деятельности (1,8 MБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                2
            </th>
            <td>
                <a href="{{ asset('documents/svid-ogrn.jpg') }}">
                    ОГРН (467,0 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                3
            </th>
            <td>
                <a href="{{ asset('documents/inn.jpg') }}">
                    ИНН (445,9 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                4
            </th>
            <td>
                <a href="{{ asset('documents/vyipiska-egryul.pdf') }}">
                    Выписка из ЕГРЮЛ (247,7 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                5
            </th>
            <td>
                <a href="{{ asset('documents/goszadanie_1.xls') }}">
                    Информация о государстенном задании (252,0 KБ)
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Схема проезда
    </h3>
    <div>
        <iframe class="d-block mx-auto" height="500" src="https://yandex.ru/map-widget/v1/-/CBBrBFEbGA" width="1024"></iframe>
    </div>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Структура учреждения
    </h3>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                Подразделение
            </th>
            <th scope="col">
                Адрес
            </th>
            <th scope="col">
                Заведующий подразделением
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Поликлиника
            </td>
            <td>
                412860, рп.Лысые Горы, ул.Советская, д.36
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                Терапевтическое отделение
            </td>
            <td>
                412860, рп.Лысые Горы, ул.Советская, д.36
            </td>
            <td>
                Ионов Константин Николаевич
            </td>
        </tr>
        <tr>
            <td>
                Хирургическое отделение
            </td>
            <td>
                412860, рп.Лысые Горы, ул.Советская, д.36
            </td>
            <td>
                Козлов Виктор Яковлевич
            </td>
        </tr>
        <tr>
            <td>
                Акушерско-гинекологическое отделение
            </td>
            <td>
                412860, рп.Лысые Горы, ул.Советская, д.36
            </td>
            <td>
                Благодарова Надежда Владимировна
            </td>
        </tr>
        <tr>
            <td>
                Детское отделение
            </td>
            <td>
                412860, рп.Лысые Горы, ул.Советская, д.36
            </td>
            <td>
                Халакаева Асият Газимагомедовна
            </td>
        </tr>
        <tr>
            <td>
                Инфекционное отделение
            </td>
            <td>
                412860, рп.Лысые Горы, ул.Советская, д.36
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                Стоматологическое отделение
            </td>
            <td>
                412860, рп.Лысые Горы, пер.Школьный, д.10
            </td>
            <td>
                Илькова Марианна Валентиновна
            </td>
        </tr>
        </tbody>
    </table>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Структурные подразделения
    </h3>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                Наименование
            </th>
            <th scope="col">
                Адрес
            </th>
            <th scope="col">
                Заведующий подразделением
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                ОВОП с.Широкий Карамыш
            </td>
            <td>
                Лысогорский район, c.Широкий Карамыш, ул.Садовая, д.39
            </td>
            <td>
                Мухамадиев Бахрулло Холмуродович
            </td>
        </tr>
        <tr>
            <td>
                ОВОП с.Большая Дмитриевка
            </td>
            <td>
                Лысогорский район, с.Большая Дмитриевка, ул.Советская, д.2а
            </td>
            <td>
                Тулипкалиева Кульнара Алиповна
            </td>
        </tr>
        <tr>
            <td>
                ОВОП с.Большие Копены
            </td>
            <td>
                Лысогорский район, с.Большие Копены
            </td>
            <td>
                Куксов Евгений Петрович
            </td>
        </tr>
        <tr>
            <td>
                ОВОП п.Октябрьский
            </td>
            <td>
                Лысогорский район, п.Октябрьский, ул.Зеленая, д.38
            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Фельдшерско-акушерские пункты
    </h3>
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">
                    Наименование
                </th>
                <th scope="col">
                    Адрес
                </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                ФАП Александровский
            </td>
            <td>
                Лысогорский район, с.2-ая Александровка, ул.Дорожная, д.21
            </td>
        </tr>
        <tr>
            <td>
                ФАП Атаевский
            </td>
            <td>
                Лысогорский район, с.Атаевка, ул.Школная, д.15
            </td>
        </tr>
        <tr>
            <td>
                ФАП Барсучинский
            </td>
            <td>
                Лысогорский район, п.Барсучий, ул.Набережная, д.12
            </td>
        </tr>
        <tr>
            <td>
                ФАП Белозерский
            </td>
            <td>
                Лысогорский район, с.Белое Озеро, ул.Песчаная, д.1А
            </td>
        </tr>
        <tr>
            <td>
                ФАП Большекаменский
            </td>
            <td>
                Лысогорский район, с.Большая Каменка
            </td>
        </tr>
        <tr>
            <td>
                ФАП Большерельненский
            </td>
            <td>
                Лысогорский район, с.Большая Рельня
            </td>
        </tr>
        <tr>
            <td>
                ФАП Бутырский
            </td>
            <td>
                Лысогорский район, с.Бутырки, ул.Молодежная, д.11
            </td>
        </tr>
        <tr>
            <td>
                ФАП Гремячинский
            </td>
            <td>
                Лысогорский район, п.Гремячий, ул.Мира, д.7
            </td>
        </tr>
        <tr>
            <td>
                ФАП Двоенский
            </td>
            <td>
                Лысогорский район, с.Двоенка, ул.Новая, д.18
            </td>
        </tr>
        <tr>
            <td>
                ФАП Ключевский
            </td>
            <td>
                Лысогорский район, с.Ключи, ул.Энтузиастов, д.2/1
            </td>
        </tr>
        <tr>
            <td>
                ФАП Липовский
            </td>
            <td>
                Лысогорский район, с.Липовка, ул.Центральная, д.15/2
            </td>
        </tr>
        <tr>
            <td>
                ФАП Невежкинский
            </td>
            <td>
                Лысогорский район, с.Невежкино, д.40
            </td>
        </tr>
        <tr>
            <td>
                ФАП Новокрасавский
            </td>
            <td>
                Лысогорский район, с.Новая Красавка, ул.Садовая, д.4а
            </td>
        </tr>
        <tr>
            <td>
                ФАП Новопесковский
            </td>
            <td>
                Лысогорский район, д.Новые Пески, ул.Луговая, д.23
            </td>
        </tr>
        <tr>
            <td>
                ФАП Первомайский
            </td>
            <td>
                Лысогорский район, п.Первомайский, ул.Первомайская, д.15
            </td>
        </tr>
        <tr>
            <td>
                ФАП Петропавловский
            </td>
            <td>
                Лысогорский район, с.Петропавловка, ул.Зеленая, д.8
            </td>
        </tr>
        <tr>
            <td>
                ФАП Раздольновский
            </td>
            <td>
                Лысогорский район, п.Раздольное, ул.Центральная, д.10
            </td>
        </tr>
        <tr>
            <td>
                ФАП Урицкий
            </td>
            <td>
                Лысогорский район, с.Урицкое, ул.Рабочая, д.15
            </td>
        </tr>
        <tr>
            <td>
                ФАП Чадаевский
            </td>
            <td>
                Лысогорский район, с.Чадаевка, пер.2-ой Тихий, д.2
            </td>
        </tr>
        <tr>
            <td>
                ФАП Шереметьевский
            </td>
            <td>
                Лысогорский район, с.Шереметьевка, ул.Песчаная, д.99а
            </td>
        </tr>
        <tr>
            <td>
                ФАП Юнгеровский
            </td>
            <td>
                Лысогорский район, с.Юнгеровка, ул.Центральная, д.33/1
            </td>
        </tr>
        <tr>
            <td>
                ФАП Яблочный
            </td>
            <td>
                Лысогорский район, п.Яблочный, ул.Садовая, д.60
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}