{% extends('content_noslide.html.twig') %}

{% block title %}Панель администрирования - Лысогорская РБ{% endblock %}

{% block content %}
    <h1>
        Панель администрирования
    </h1>
    <h2>
        Инфо
    </h2>
    <div class="alert alert-primary text-center">
        Панель администрирования доступна исключительно через адрес электронной почты <b>admin@lgorycrb.ru</b>.<br>
        Смена данных для входа производится системным администратором.
    </div>
    {% if users and users is not empty %}
    <h2>
        Пользователи
    </h2>
    <table class="table table-success table-striped align-middle">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Тип пользователя</th>
            <th scope="col">Электронная почта</th>
            <th class="text-end" scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th scope="row">
                    {{ loop.index }}
                </th>
                <td>
                    {{ user.name }}
                </td>
                <td>
                    {{ constant('App\\Entity\\User::USERTYPE_NAME')[user.type] }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    <div class="btn-group float-end">
                        <a href="{{ path('user.reset', {id: user.id}) }}" class="btn btn-secondary">
                            Сбросить пароль
                        </a>
                        <a href="{{ path('user.delete', {id: user.id}) }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            {% if user_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'upage':user_page-1})) }}" tabindex="-1">
                        &#60;
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'upage':user_page-1})) }}">{{ user_page-1 }}</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link disabled" tabindex="-1">
                        &#60;
                    </a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="">{{ user_page }}</a>
            </li>
            {% if user_page != user_pages %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'upage':user_page+1})) }}">{{ user_page+1 }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{{ path(currentRoute, currentQuery|merge({'upage':user_page+1})) }}">
                        &#62;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                        &#62;
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="badge bg-success text-wrap d-block my-3">
        В системе не зарегистрировано еще ни одного пользователя.
    </div>
    {% endif %}
    <h2>
        Действия
    </h2>
    {% block second_section %}{% endblock %}
    <div class="row">
        <div class="btn-group">
            <a href="{{ path('user.create_doctor') }}" class="btn btn-secondary active" aria-current="page">Создать новый профиль</a>
        </div>
    </div>
{% endblock %}