{% extends('pages/profile/main.html.twig') %}

{% block info_section %}
    <tr>
        <th scope="row">
            Специализация
        </th>
        <td>
            {{ user.post }}
        </td>
    </tr>
{% endblock %}

{% block second_section %}
    <h2>
        Предстоящие визиты
    </h2>
    {% if appointments and appointments is not empty %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">ФИО пациента</th>
            <th scope="col">Дата и время</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <th scope="row">
                    {{ loop.index }}
                </th>
                <td>
                    {{ appointment.patient.name }}
                </td>
                <td>
                    {{ appointment.date|date("d.m.Y") ~ ' ' ~ constant('App\\Entity\\Appointment::TIME_CHOICES')|keys[appointment.timeSlot] }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="badge bg-success text-wrap d-block my-3">
            К вам не записан ни один человек.
        </div>
    {% endif %}
    <h2>
        Новостные посты
    </h2>
    {% if posts and posts is not empty %}
    <table class="table table-success table-striped align-middle">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Заголовок</th>
            <th class="text-end" scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">
                    {{ loop.index }}
                </th>
                <td>
                    <a href="{{ path('post.view', {id: post.id}) }}" class="link">{{ post.title }}</a>
                </td>
                <td>
                    <div class="btn-group float-end">
                        <a href="{{ path('post.update', {id: post.id}) }}" class="btn btn-secondary">
                            Изменить
                        </a>
                        <a href="{{ path('post.delete', {id: post.id}) }}" class="btn btn-danger">
                            Удалить
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="badge bg-success text-wrap d-block my-3">
            Вами не опубликована ни одна новость.
        </div>
    {% endif %}
{% endblock %}

{% block btn_custom %}
    <a href="{{ path('post.create') }}" class="btn btn-secondary">Опубликовать новость</a>
{% endblock %}
