{% extends('content_noslide.html.twig') %}

{% block title %}Профиль пользователя - Лысогорская РБ{% endblock %}

{% block content %}
    <h1>
        Профиль пользователя
    </h1>
    <h2>
        Инфо
    </h2>
    <table class="table table-success table-striped">
        <tbody>
        <tr>
            <th scope="row">
                Имя пользователя
            </th>
            <td>
                {{ user.name }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                Электронная почта
            </th>
            <td>
                {{ user.email }}
            </td>
        </tr>
        <tr>
            <th scope="row">
                Телефон
            </th>
            <td>
                +7 800 555 35 35
            </td>
        </tr>
        <tr>
            <th scope="row">
                Пол
            </th>
            <td>
                Мужчина
            </td>
        </tr>
        <tr>
            <th scope="row">
                Полис ОМС
            </th>
            <td>
                6578123476589087
            </td>
        </tr>
        </tbody>
    </table>
    {% block second_section %}{% endblock %}
    <div class="row">
        <div class="btn-group d-flex justify-content-around">
            <a href="{{ path('user.update', {id: app.user.id}) }}" class="btn btn-secondary active" aria-current="page">Редактировать данные профиля</a>
            <a href="{{ path('user.password', {id: app.user.id}) }}" class="btn btn-secondary">Сменить пароль</a>
            {% block btn_custom %}{% endblock %}
            <a href="{{ path('user.delete', {id: app.user.id}) }}" class="btn btn-danger">Удалить профиль</a>
        </div>
    </div>
{% endblock %}