{% extends('content.html.twig') %}

{% block pagetitle %}Услуги - Лысогорская РБ{% endblock %}

{% block content %}
    <h1 class="fw-bold text-center mt-5 mb-3">
        Платные услуги
    </h1>
    <p>
        Платные услуги в ГУЗ «Лысогорская РБ» (далее ГУЗ) оказываются в виде профилактической, лечебно-диагностической,
        реабилитационной, зубопротезной помощи сверх утвержденных объемов Территориальной программы гарантий оказания
        жителям района бесплатной медицинской помощи. Платные услуги осуществляются в рамках договоров с гражданами или
        организациями на оказание медицинских услуг работникам и членам их семей.
    </p>
    <p>
        Предоставление платных услуг осуществляется при наличии у ГУЗ лицензии на соответствующие виды медицинской
        деятельности.
    </p>
    <p>
        Платные услуги населению оказываются по специальному разрешению, выданному Министерством здравоохранения Саратовской области.
    </p>
    <p>
        Оказываемые платные услуги должны соответствовать требованиям, предъявляемым к методам диагностики, профилактики
        и лечения, разрешенным на территории РФ.
    </p>
    <p>
        Оказываемые платные услуги осуществляются только в случае выполнения государственным учреждением заданий по
        реализации Территориальной программы государственных гарантий.
    </p>
    <p>
        Платные медицинские услуги - это услуги, предоставляемые сверх медицинских стандартов для указанного заболевания
        (протоколов ведения больных), утвержденных Министерством здравоохранения Саратовской области и ТФ ОМС области при
        отсутствии абсолютных медицинских показаний для пациента с указанным заболеванием.
    </p>
    <p>
        Платные медицинские услуги предоставляются лицам не имеющим гражданства Российской Федерации или страхового полиса
        при плановом амбулаторно-поликлиническом или стационарном лечении по поводу хронических заболеваний.
    </p>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Перечень  граждан, которым медицинская помощь оказывается бесплатно или с льготой
    </h3>
    <p>
        1. Медицинская помощь оказывается бесплатно следующей категории лиц:
    </p>
    <p>
        Медицинский осмотр с выдачей справок:
    </p>
    <ul>
        <li>
            учащимся очных форм обучения
        </li>
        <li>
            инвалидам и участникам ВОВ
        </li>
        <li>
            участникам войны, участникам боевых действий на территории других государств
        </li>
        <li>
            чернобыльцам
        </li>
    </ul>
    <p>
        2. Медицинская помощь оказывается с 50% льготой следующей категории лиц:
    </p>
    <p>
        Медицинский осмотр с выдачей справок:
    </p>
    <ul>
        <li>
            инвалидам 1-2 группы по заболеванию
        </li>
        <li>
            инвалидам 3 группы признанные безработными
        </li>
        <li>
            гражданам, достигших возраста, дающего право на получение трудовой пенсии по старости, проживающих на
            территории Лысогорского района.
        </li>
    </ul>
    <p>
        3. Стоматологическая помощь оказывается бесплатно следующей категории лиц:
    </p>
    <ul>
        <li>
            учащимся очных форм обучения
        </li>
        <li>
            инвалидам и участникам ВОВ
        </li>

        <li>
            участникам войны, участникам боевых действий на территории других государств
        </li>
        <li>
            чернобыльцам.
        </li>
    </ul>
    <p>
        4. Изготовление  и ремонт зубных протезов (кроме расходов на оплату стоимости драгоценных металлов и металлокерамики)
        осуществляется следующим категориям граждан:
    </p>
    <ul>
        <li>
            ветеранам труда,
        </li>
        <li>
            ветеранам военной службы,
        </li>
        <li>
            ветеранам труда Саратовской области,
        </li>
        <li>
            лицам, проработавшим в тылу в период с 22 июня 1941 года по 09 мая 1945 года не менее 6 месяцев, исключая
            период работы на временно оккупированных территориях СССР, либо награжденных орденами или медалями СССР за
            самоотверженный труд в период ВОВ.
        </li>
        <li>
            реабилитированным лицам.
        </li>
    </ul>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Файлы
    </h3>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                №
            </th>
            <th scope="col">
                Документ
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                1
            </th>
            <td>
                <a href="{{ asset('documents/services-page/polozhenie-ob-organizatsii-predostavleniya-platnyih-meditsinskih-uslug.doc') }}">
                    Положение об организации предоставления платных медицинских услуг (83,4 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                2
            </th>
            <td>
                <a href="{{ asset('documents/services-page/prikaz.doc') }}">
                    Приказ об организации платных услуг (53,8 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                3
            </th>
            <td>
                <a href="{{ asset('documents/services-page/obrazets-dogovora.doc') }}">
                    Образец договора (62,5 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                4
            </th>
            <td>
                <a href="{{ asset('documents/services-page/perechen-platnyih-uslug.pdf') }}">
                    Перечень оказываемых платных медицинских учлуг (2,8 MБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                5
            </th>
            <td>
                <a href="{{ asset('documents/services-page/novyij-prejskurant-tsen.doc') }}">
                    Цены (тарифы) на оказываемые медицинские (343,5 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                6
            </th>
            <td>
                <a href="{{ asset('documents/services-page/svedeniya-o-meditsinskih-rabotnikah_1.docx') }}">
                    Сведения о медицинских работниках, участвующих в предоставлении платных медицинских услуг. График работы (19,3 KБ)
                </a>
            </td>
        </tr>
        <tr>
            <th>
                7
            </th>
            <td>
                <a href="{{ asset('documents/services-page/perechen-grazhdan-s-lgotami.docx') }}">
                    Перечень граждан, которым медицинская помощь оказывается бесплатно или с льготой (13,9 KБ)
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3 class="fw-bold text-center mt-5 mb-3">
        Прейскурант
    </h3>
    <table class="table align-middle">
        <thead>
        <tr>
            <th scope="col">
                № п/п
            </th>
            <th scope="col">
                Услуга
            </th>
            <th scope="col">
                Стоимость услуги (руб.)
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.1 Консультации врачей-специалистов, выполняемые в условиях РБ
            </td>
        </tr>
        <tr>
            <td>
                1.1.1
            </td>
            <td>
                Консультация врача - хирурга
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.2
            </td>
            <td>
                Консультация врача - невролога
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.3
            </td>
            <td>
                Консультация врача - офтальмолога
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.4
            </td>
            <td>
                Консультация врача - акушер-гинеколога
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.5
            </td>
            <td>
                Консультация врача - дерматовенеролога
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.6
            </td>
            <td>
                Консультация врача - терапевта
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.7
            </td>
            <td>
                Консультация врача - эндокринолога
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.8
            </td>
            <td>
                Консультация врача - отоларинголога
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.9
            </td>
            <td>
                Консультация врача - инфекциониста
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.10
            </td>
            <td>
                Консультация врача - педиатра
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.1.11
            </td>
            <td>
                Консультация врача общей практики
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.2 Рентгенологические исследования (за исключением оказания неотложной помощи)
            </td>
        </tr>
        <tr>
            <td>
                1.2.1
            </td>
            <td>
                R-0- графия зубов
            </td>
            <td>
                280-00
            </td>
        </tr>
        <tr>
            <td>
                1.2.2
            </td>
            <td>
                R-0- графия верхней челюсти
            </td>
            <td>
                370-00
            </td>
        </tr>
        <tr>
            <td>
                1.2.3
            </td>
            <td>
                R-0- графия нижней челюсти
            </td>
            <td>
                370-00
            </td>
        </tr>
        <tr>
            <td>
                1.2.4
            </td>
            <td>
                R-0- графия придаточных пазух носа
            </td>
            <td>
                420-00
            </td>
        </tr>
        <tr>
            <td>
                1.2.5
            </td>
            <td>
                Рентгенография (обзорная) брюшной полости, почек
            </td>
            <td>
                420-00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6
            </td>
            <td>
                Рентгенография тазобедренного сустава
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                1.2.6.1
            </td>
            <td>
                Рентгенография шейного отдела
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6.2
            </td>
            <td>
                Рентгенография грудного отдела позвоночника
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6.3
            </td>
            <td>
                Рентгенография тазобедренного сустава
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6.4
            </td>
            <td>
                Рентгенография коленного сустава
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6.5
            </td>
            <td>
                Рентгенография плечевой кисти
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6.6
            </td>
            <td>
                Рентгенография локтевой кисти и лучевой кости
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.6.7
            </td>
            <td>
                Рентгенография голеностопного сустава
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.7
            </td>
            <td>
                Рентгенография костей таза
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.7.1
            </td>
            <td>
                Рентгенография поясничного-крестцового отдела позвоночника
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.8
            </td>
            <td>
                Рентгенография черепа в одной или более проекциях
            </td>
            <td>
                420,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.9
            </td>
            <td>
                Рентгенография височно-нижнечелюстного сустава
            </td>
            <td>
                420,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.10
            </td>
            <td>
                Рентгенография легких
            </td>
            <td>
                420,00
            </td>
        </tr>
        <tr>
            <td>
                1.2.11
            </td>
            <td>
                Мамография
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.3 Эндоскопические исследования
            </td>
        </tr>
        <tr>
            <td>
                1.3.1
            </td>
            <td>
                Фибродуоденоскопия
            </td>
            <td>
                500,00
            </td>
        </tr>
        <tr>
            <td>
                1.3.2
            </td>
            <td>
                Ректороманоскопия
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.4 Ультразвуковые исследования
            </td>
        </tr>
        <tr>
            <td>
                1.4.1
            </td>
            <td>
                УЗИ печени, желчного пузыря, поджелудочной железы, селезенки
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.2
            </td>
            <td>
                УЗИ матки с придатками
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.3
            </td>
            <td>
                УЗИ плода
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.4
            </td>
            <td>
                УЗИ тазобедренных суставов
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.5
            </td>
            <td>
                УЗИ внутрибрюшных лимфоузлов и поверхностных образований
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.6
            </td>
            <td>
                УЗИ почек надпочечников
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.7
            </td>
            <td>
                УЗИ предстательной железы и яичек
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.8
            </td>
            <td>
                УЗИ щитовидной железы
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.9
            </td>
            <td>
                УЗИ молочной железы
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.10
            </td>
            <td>
                УЗИ мошонки
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.4.11
            </td>
            <td>
                УЗИ мочевого пузыря
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.5 Клинико-лабораторные исследования
            </td>
        </tr>
        <tr>
            <td>
                1.5.1
            </td>
            <td>
                Общий анализ мочи
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.2
            </td>
            <td>
                Анализ мочи по Нечипоренко
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.3
            </td>
            <td>
                Анализ мочи на диастазу
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.4
            </td>
            <td>
                Анализ мочи на сахар
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.5
            </td>
            <td>
                Анализ мочи на ацетон
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.6
            </td>
            <td>
                Анализ мочи на желчные пигменты
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.7
            </td>
            <td>
                Анализ мочи по Зимницкому
            </td>
            <td>
                80,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.8
            </td>
            <td>
                Исследование кала на яйца и личинки гельминтов
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.9
            </td>
            <td>
                Микроскопические исследования кала на простейшие
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.10
            </td>
            <td>
                Общий анализ крови
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.11
            </td>
            <td>
                Анализ крови (гемоглобин, лейкоциты, СОЭ)
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.12
            </td>
            <td>
                Определение протромбинового индекса (ПТИ)
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.13
            </td>
            <td>
                Анализ крови на сахар
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.14
            </td>
            <td>
                Определение билирубина в сыворотке крови
            </td>
            <td>
                180,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.15
            </td>
            <td>
                Определение мочевины в сыворотке крови
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.16
            </td>
            <td>
                Определение креатинина в сыворотке крови
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.17
            </td>
            <td>
                Определение холестерина в сыворотке крови
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.18
            </td>
            <td>
                Определение общего белка в сыворотке крови
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.19
            </td>
            <td>
                Определение липопротеидов
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.20
            </td>
            <td>
                Определение антител к бледной трепонеме в нетрепонемных тестах
            </td>
            <td>
                170,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.21
            </td>
            <td>
                Определение активности трансаминаз (АST, ALT)
            </td>
            <td>
                1200,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.22
            </td>
            <td>
                Кровь на ревмопробы
            </td>
            <td>
                120,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.23
            </td>
            <td>
                Анализ крови на диастазу
            </td>
            <td>
                110,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.24
            </td>
            <td>
                Определение группы крови и Rh – фактора
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.25
            </td>
            <td>
                Определение амилазы крови
            </td>
            <td>
                160,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.26
            </td>
            <td>
                Определение времени свертывания крови
            </td>
            <td>
                120,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.27
            </td>
            <td>
                КСР (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.28
            </td>
            <td>
                Анализ крови на Hbs Ag
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.29
            </td>
            <td>
                Анализ крови на ВИЧ-инфекцию (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.30
            </td>
            <td>
                Исследование крови на сифилис (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                170,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.31
            </td>
            <td>
                Исследование мазков на гонорею и трихомонады (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.32
            </td>
            <td>
                Исследование соскоба с кожи на возбудителя чесотки (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.33
            </td>
            <td>
                Исследование волос, чешуек с кожи на грибки
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.34
            </td>
            <td>
                Подсчет лейкоцитарной формулы (подсчет тромбоцитов, эритроцитов, ретикулоцитов)
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.35
            </td>
            <td>
                Анализ крови на малярию
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.36
            </td>
            <td>
                Определение С-реактивного белка
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.37
            </td>
            <td>
                Определение глюкозы
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.38
            </td>
            <td>
                Исследование мазков на микрофлору
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.39
            </td>
            <td>
                Лейкограмма
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.40
            </td>
            <td>
                Определение активности щелочной фосфотазы в крови
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.41
            </td>
            <td>
                Определение антител к вирусу гепатита В
            </td>
            <td>
                370,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.42
            </td>
            <td>
                Определение антител к вирусу гепатита С
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.43
            </td>
            <td>
                ИФА-АНТИ-НDV
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.44
            </td>
            <td>
                ИФА-АНТИ-НВsAg
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.45
            </td>
            <td>
                ИФА-АНТИ-HBc-M-СКРИН
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.46
            </td>
            <td>
                ИФА-АНТИ-HBе Ag
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.47
            </td>
            <td>
                ИФА-АНТИ-HBе
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.48
            </td>
            <td>
                АНТИ-ХЛАМИДИЯ TR-A
            </td>
            <td>
                350,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.49
            </td>
            <td>
                АНТИ-ХЛАМИДИЯ TR-G
            </td>
            <td>
                350,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.50
            </td>
            <td>
                Исследование онкомаркеров ПСА общий
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.51
            </td>
            <td>
                Анализ на гликированный гемоглобин
            </td>
            <td>
                450,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.52
            </td>
            <td>
                Определение иммуноглобулина класса М SARS-CoV-2
            </td>
            <td>
                800,00
            </td>
        </tr>
        <tr>
            <td>
                1.5.53
            </td>
            <td>
                Определение иммуноглобулина класса G SARS-CoV-2
            </td>
            <td>
                800,00
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.6. Диагностические исследования, процедуры, манипуляции, консультации
                и курсы лечения,  в т.ч. на дому больным (кроме лиц, которые по
                состоянию здоровья и характеру заболевания  не могут посетить медицинское
                учреждение)
            </td>
        </tr>
        <tr>
            <td>
                1.6.1
            </td>
            <td>
                Перевязка (кроме оказания неотложной помощи)
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.2
            </td>
            <td>
                Внутривенная инъекция (под наблюдением врача)
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.3
            </td>
            <td>
                Внутримышечная инъекция
            </td>
            <td>
                230,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.4
            </td>
            <td>
                П\к инъекция
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.5
            </td>
            <td>
                Постановка очистительной клизмы (1 процедура)
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.6
            </td>
            <td>
                Постановка банок (1 процедура)
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.7
            </td>
            <td>
                Измерение АД
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.8
            </td>
            <td>
                Измерение внутриглазного давления
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.9
            </td>
            <td>
                Внутривенное вливание, постановка систем (под наблюдением врача)
            </td>
            <td>
                350,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.10
            </td>
            <td>
                ЭКГ исследования
            </td>
            <td>
                110,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.11
            </td>
            <td>
                Спирография
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.12
            </td>
            <td>
                Проведение новокаиновой блокады (1 процедура)
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.13
            </td>
            <td>
                Введение внутриматочной спирали (кроме социально-неблагополучных женщин) только для граждан не имеющих гражданства РФ
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.14
            </td>
            <td>
                Удаление внутриматочной спирали (кроме социально-неблагополучных женщин) только для граждан не имеющих гражданства РФ
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.15
            </td>
            <td>
                Диатермокогуляция (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                400,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.16
            </td>
            <td>
                Диатеромэксцизия (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                500,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.17
            </td>
            <td>
                Кольпоскопия (только для граждан не имеющих гражданства РФ)
            </td>
            <td>
                300,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.18
            </td>
            <td>
                Промывание пазух методом перемещения жидкости (кроме оказания неотложной помощи)
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.19
            </td>
            <td>
                Аудиометрия
            </td>
            <td>
                180,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.20
            </td>
            <td>
                Промывание миндалин
            </td>
            <td>
                180,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.21
            </td>
            <td>
                Вымывание серных пробок
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.22
            </td>
            <td>
                Осмотр прямой кишки (только для граждан не имеющих гражданства РФ или страхового полиса)
            </td>
            <td>
                350,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.23
            </td>
            <td>
                Сопровождение лица (группы лиц) средним медицинским работником (1 час)
            </td>
            <td>
                200,00
            </td>
        </tr>
        <tr>
            <td>
                1.6.24
            </td>
            <td>
                Обслуживание бригадой СМП проведения спортивных соревнований, культурно – массовых, публичных мероприятий и похоронных процессий (1 час)
            </td>
            <td>
                500,00
            </td>
        </tr>
        <tr>
            <td colspan="3" class="text-center fw-bold">
                1.7 Физиотерапевтические процедуры и манипуляции (1процедура)
            </td>
        </tr>
        <tr>
            <td>
                1.7.1
            </td>
            <td>
                Электрофорез без препарата пациента
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.2
            </td>
            <td>
                Электрофорез с препаратом пациента
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.3
            </td>
            <td>
                Ультрафонофорез без препарата пациента
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.4
            </td>
            <td>
                Ультрафонофорез с препаратом пациента
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.5
            </td>
            <td>
                Ультразвук
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.6
            </td>
            <td>
                Дарсонвализация волосистой части головы
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.7
            </td>
            <td>
                Дарсонвализация воротниковой зоны
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.8
            </td>
            <td>
                Импульсная низкочастотная терапия (электростимуляция)
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.9
            </td>
            <td>
                Магнитотерапия
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.10
            </td>
            <td>
                Лазеротерапия
            </td>
            <td>
                150,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.11
            </td>
            <td>
                УВЧ - терапия
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.12
            </td>
            <td>
                СМТ - терапия
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.13
            </td>
            <td>
                СМТ - форез
            </td>
            <td>
                120,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.14
            </td>
            <td>
                Местное ультрафиолетовое облучение
            </td>
            <td>
                50,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.15
            </td>
            <td>
                Электростимуляция
            </td>
            <td>
                250,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.16
            </td>
            <td>
                Эмитрасон-5
            </td>
            <td>
                100,00
            </td>
        </tr>
        <tr>
            <td>
                1.7.17
            </td>
            <td>
                Медицинский массаж (1 уловная единица) головы
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - лица
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - шеи
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - воротниковой зоны
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - верхней конечности, надплечья и лопатки
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - плечевого сустава
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - локтевого сустава
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - лучезапястного сустава
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - кисти и предплечья
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - области грудной клетки
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - грудного отдела позвоночника
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - поясничного отдела позвоночника
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - грудной клетки
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - спины
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - верхних конечностей
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - нижних конечностей
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - гинекологический
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - общий массаж
            </td>
            <td>
                130,00
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                - лица
            </td>
            <td>
                130,00
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}